.env
build/
allure-report/

ConfigDumpInfo.xml
build
out
.scannerwork

src/cf/Ext/ParentConfigurations/УправлениеПредприятием.cf
/src/cf/Ext/ParentConfigurations/РЈРїСЂР°РІР»РµРЅРёРµРџСЂРµРґРїСЂРёСЏС‚РёРµРј.cf
